* {margin:  0; padding:  0; font-size:  100%; font-family: 'Courier Prime', monospace; color:  whitesmoke;}

body {
	background-color: darkslategray;
	
	background-attachment:  fixed;
}

.logo {
	display:  block;
	margin-left:  auto;
	margin-right: auto;
	width:  30%;
	min-width: 200px;
	
}

.jumbotron {
	display: flex;
  align-items: center;
  background-image: url(../images/gnr.png);
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;



}

.jumbotronfooterindex {
	background-color:  black;
	display: flex;
  align-items: center;
  background-size: cover;
  color: #ffffff;
  height: 80px;
  width:  100%;
  
 

}

.jumbotronfooter {
	background-color:  black;
	display: flex;
  align-items: center;
  background-size: cover;
  color: #ffffff;
  height: 80px;
  width:  100%;
  margin-top: 70px;
 

}


.jumbotron h2 {
  text-shadow: 2px 2px #ff0000;
  font-size: 5vw;
  font-size: 5vh;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  text-shadow: 2px 2px #64788c;
  margin: 0 0 20px;
  color: #fff;
}

.btn.btn-dark {
  border-radius: 20px;
  border: 50px;
  color: #000000;
  text-shadow: none;
  background-color: #ffffff;
  width: 30%;
  margin-left:  auto;
	margin-right: auto;
}

.btn.btn-dark:hover {
  color: #64788c;
  background-color: #64788c;
}



.slogan {
	font-size:  175%;
	text-align:  left;
	margin-left:  auto;
	margin-right: auto;
	margin-top: 15px;
	color:  whitesmoke;
	
}

.mainstory {
	
	margin-left: 500px;
	margin-right: 500px;
	text-align:  center;
}

.carousel h5 {
	font-size: 350%;
	text-shadow:
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,  
    -2px 0 0 #000000,
    2px 0 0 #000000,
    0 2px 0 #000000,
    0 -2px 0 #000000;
}

.bandtitle {
	font-size: 120%;
	text-decoration:  underline;
	text-shadow:
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,  
    -2px 0 0 #000000,
    2px 0 0 #000000,
    0 2px 0 #000000,
    0 -2px 0 #000000;
}

.col-sm-4 {
	outline: 2px dotted black;
}

.col-sm-6 {
	margin-top: 10px;
}


.fakeband {
	height: 50%;
	width: 50%;
	margin-right: 10px;
	min-width: 80px;
	max-height: 200px;
	float:  left;
	padding: 0 10px 0 0;


}

.btn.btn-secondary {
	align-self: center;

}

.btn.btn-secondary:hover {
  color: #64788c;
  background-color: #64788c;
}

#legalwarning {
  font-family: Helvetica;
	font-size:  250%;
	color:  darkred;
	text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff,  
    -2px 0 0 #ffffff,
    2px 0 0 #ffffff,
    0 2px 0 #ffffff,
    0 -2px 0 #ffffff;
}

.col-lg-3 {
	margin-top: 15px;
}

.fakealbum {
	margin-top: 10px;
	align-self: center;
	float:  center;
	padding: 0 10px 0 0;
}

.licensepackage {
	font-size: 120%;
	text-shadow:
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,  
    -2px 0 0 #000000,
    2px 0 0 #000000,
    0 2px 0 #000000,
    0 -2px 0 #000000;

}

.containeroutlined {
	outline:  2px dotted whitesmoke;
	
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 2px;
}

.rating
{
	margin-top: 15px;
	height: 40%;
	width: 30%;
}

.nameclient

{
	font-size: 200%;
	text-decoration:  underline;
}

.teampicture {
	height: 85%;
	width: 85%;
	min-width: 150px;
	min-height: 120px;
	max-height: 400px;
}

h6 {
	font-size: 145%;
	margin-top: 5px;
	align-self: center;
}

